<main>
    <div class="opposite photo-card">
        <div class="text">
            <h1>More about me</h1>
            <p>I am a web developer hailing from Pampanga, Philippines. I am currently studying at Holy Angel University, under the Bachelor of Science in Information Technology with an Area of Specialization in Web Development. After 3 years of developing websites, I can comfortably say that I am adept in both front-end and back-end aspects of web development..</p>
        </div>

        <img class="photo" src="photos/uniform3.png" alt="Chester wearing a school uniform" />
    </div>

    <div class="can-do">
        <h2>What can I do?</h2>

        <div class="all-can-do">
            <div class="can-do-info opposite">
                <i class="ri-pages-fill"></i>
                <p>I develop fully-functioning websites using various mainstream technologies.</p>
            </div>
            <div class="can-do-info opposite">
                <i class="ri-task-fill"></i>
                <p>I can successfully accomplish multiple tasks simultaneously under tight deadlines.</p>
            </div>
            <div class="can-do-info opposite">
                <i class="ri-team-fill"></i>
                <p>I can express leadership and collaborate with others in various group-related works.</p>
            </div>
        </div>
    </div>

    

    <div class="all-skills">
        <div class="skills">
            <h2>Hard Skills</h2>
            <ul>
                <li>
                    <i class="ri-html5-fill"></i>
                    <p>HTML</p>
                </li>
                <li>
                    <i class="ri-css3-fill"></i>
                    <p>CSS</p>
                </li>
                <li>
                    <i class="ri-javascript-fill"></i>
                    <p>JavaScript</p>
                </li>
                <li>
                    <i class="ri-wordpress-fill"></i>
                    <p>WordPress</p>
                </li>
                <li>
                    <i class="ri-bootstrap-fill"></i>
                    <p>Bootstrap</p>
                </li>
                <li>
                    <i class="ri-angularjs-fill"></i>
                    <p>Angular</p>
                </li>
            </ul>
        </div>

        <div class="skills">
            <h2>Soft Skills</h2>
            <ul>
                <li>
                    <i class="ri-puzzle-2-fill"></i>
                    <p>Problem Solving</p>
                </li>
                <li>
                    <i class="ri-sparkling-2-fill"></i>
                    <p>Attention to Detail</p>
                </li>
                <li>
                    <i class="ri-calendar-schedule-fill"></i>
                    <p>Time Management</p>
                </li>
                <li>
                    <i class="ri-megaphone-fill"></i>
                    <p>Communication</p>
                </li>
                <li>
                    <i class="ri-shake-hands-fill"></i>
                    <p>Teamwork</p>
                </li>
                <li>
                    <i class="ri-arrow-left-right-fill"></i>
                    <p>Adaptability</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="interests">
        <h2>Interests</h2>
        <p>Of course, my life doesn't solely revolve around web development. Whenever I have free time, I do the following:</p>

        <div class="all-interests">
            <div class="interest-card opposite">
                <i class="ri-run-fill"></i>
                <h3>Exercise</h3>
                <p>I try to look after myself by alloting enough time to exercise almost every single day. This not only makes my body feel good, but it also improves my health overall.</p>
            </div>
            <div class="interest-card opposite">
                <i class="ri-service-fill"></i>
                <h3>Spend time with family/friends</h3>
                <p>Being with my family or friends brings me great solace. They allow me to express myself fully and share my experiences while also gaining valuable feedback and support from them as well.</p>
            </div>
            <div class="interest-card opposite">
                <i class="ri-gamepad-fill"></i>
                <h3>Play Video Games</h3>
                <p>I am an avid gamer! As long as I'm done with everything I need to do and I have some time, I tend to unwind by kicking back, relaxing, and playing some video games.</p>
            </div>
        </div>
    </div>
</main>