<main>
    <h1>My Projects</h1>

    <div class="all-projects">
        <div class="project opposite">
            <h2>Pixel Legends</h2>
            <img src="projects/pixel-legends1.png" alt="Pixel Legends website screenshot" loading="lazy">
            <p>This is a video game-themed website for our university’s web design competition, which won first runner-up and best interactive design.
            <br><br>           
            DISCLAIMER: All video games and characters mentioned in this webpage belong to Nintendo. I do not own any of the rights.</p>
            <a href="https://cjt22.github.io/pixel-fusion-entry/" target="_blank">Go to website</a>
            <br>
            <a href="https://github.com/CJT22/pixel-fusion-entry" target="_blank">Go to GitHub repository</a>
        </div>

        <div class="project opposite">
            <h2>Lyrexist</h2>
            <img src="projects/lyrexist1.png" alt="Lyrexist website screenshot" loading="lazy">
            <p>This is a song search web application wherein I handled the back-end logic of how songs and artists are filtered based on category using JavaScript.
            <br><br>           
            Lyrexist is a dynamic web application we made as a group final project for our Advanced Database (ADDBASE) course. It is designed to showcase practical application of NoSQL databases using Firebase Firestore.</p>
            <a href="https://github.com/CJT22/lyrexist" target="_blank">Go to GitHub repository</a>
        </div>

        <div class="project opposite">
            <h2>Udemy Capstone Project 2</h2>
            <img src="projects/udemy-portfolio1.png" alt="Udemy Capstone Project 2 website screenshot" loading="lazy">
            <p>This is a sample portfolio website wherein I showcase my front-end capabilities through fundamentals I have learned for HTML and CSS.
            <br><br>           
            The instructions for this project came from "The Complete 2024 Web Development Bootcamp" course on Udemy.</p>
            <a href="https://cjt22.github.io/capstone-project-2/" target="_blank">Go to website</a>
            <br>
            <a href="https://github.com/CJT22/capstone-project-2" target="_blank">Go to GitHub repository</a>
        </div>

        <div class="project opposite">
            <h2>Orientertainment</h2>
            <img src="projects/orientertainment1.png" alt="Orientertainment website screenshot" loading="lazy">
            <p>This is a video game blog website I made using WordPress for our Dynamic Web Applications (DWEB) course.
            <br><br>           
            My blogs consist of gaming ideas that take inspiration from popular games and add unique twists that are not yet seen in our gaming landscape today.</p>
            <a href="https://orientertainment.wordpress.com/" target="_blank">Go to website</a>
        </div>

        <a href="https://github.com/CJT22" class="opposite"  target="_blank">Check out my other projects on GitHub!</a>
    </div>

    <div class="certifications">
        <h2>Certifications</h2>

        <div class="all-certifs">
            <div class="certif-card">
                <img src="certifications/google-analytics.png" alt="Google Analytics certification logo">
                <h3>Google Analytics Certification</h3>
                <p>March 1, 2025</p>
                <a href="https://skillshop.credential.net/c28be278-0a6a-47c1-aa02-51e97f58b301#acc.sYmbSFhQ" target="_blank">Check certificate</a>
            </div>
            <div class="certif-card">
                <img src="certifications/code-geeks.png" alt="Code Geeks logo">
                <h3>University’s Web Design Competition: Best Interactive Design</h3>
                <p>October 7, 2024</p>
                <a href="certifications/cg-best-interactive.jpg" target="_blank">Check certificate</a>
                <a href="https://www.facebook.com/share/p/19ymW5vdTN/" target="_blank">Check Facebook post</a>
            </div>
            <div class="certif-card">
                <img src="certifications/code-geeks.png" alt="Code Geeks logo">
                <h3>University’s Web Design Competition: First Runner-up</h3>
                <p>October 7, 2024</p>
                <a href="certifications/cg-first-runner-up.jpg" target="_blank">Check certificate</a>
                <a href="https://www.facebook.com/share/p/19ymW5vdTN/" target="_blank">Check Facebook post</a>
            </div>
            <div class="certif-card">
                <img src="certifications/comptia-itf.png" alt="CompTIA IT Fundamentals (ITF+) certification logo">
                <h3>CompTIA IT Fundamentals (ITF+) Certification</h3>
                <p>May 30, 2023</p>
                <a href="https://www.credly.com/badges/a572e20c-7913-4505-9eac-61081de8a827" target="_blank">Check badge</a>
            </div>

            <a href="https://www.credly.com/users/chester-jonathan-tayag" class="opposite" target="_blank">Check out my other badges on Credly!</a>
        </div>
    </div>

    <div class="testimonials">
        <h2>Testimonials</h2>

        <div class="all-testimonials">
            <div class="testimonial-card opposite">
                <p class="quote">"Working with Chester has always been a privilege. His attention to detail is unmatched, and he ensures that every aspect of our work is polished and refined. Beyond his skills, he also uplifts those people around him and he gives valuable feedback and never forgets to acknowledge and appreciate our efforts."</p>
                <div class="quotee">
                    <p class="quotee-name">- Natividad, Christine Jasline</p>
                    <p>Fellow Web Developer</p>
                </div>
            </div>

            <div class="testimonial-card opposite">
                <p class="quote">"Chester is a great person who has a big heart. He likes helping people, which shows in his willingness to go the extra mile. He can also adapt and problem-solve efficiently. His works are clean and well-structured. His coding skills are impressive and constantly improving. Working with Chester has been a pleasure."</p>
                <div class="quotee">
                    <p class="quotee-name">- David, Kate Anne</p>
                    <p>Fellow Web Developer</p>
                </div>
            </div>
        </div>
    </div>
</main>