<main>
    <div class="contact-info opposite">
        <div class="contact-info-text">
            <h1>Have an idea for a website? Contact me!</h1>
            <div class="contact-number">
                <h3>Contact Number</h3>
                <p>0999-189-7773</p>
            </div>
            <div class="email">
                <h3>Email Address</h3>
                <a href="mailto:tayagchesterjonathan@gmail.com">tayagchesterjonathan&#64;gmail.com</a>
            </div>
        </div>

        <i class="ri-mail-send-line"></i>
    </div>

    <!-- Social medias -->
    <div class="soc-meds">
        <h2>Reach me via social media</h2>

        <div class="soc-med-links">
            <a href="https://www.linkedin.com/in/chester-jonathan-tayag/" class="opposite" target="_blank"><i class="ri-linkedin-box-fill"></i> <p>LinkedIn</p></a>
            <a href="https://github.com/CJT22/" class="opposite" target="_blank"><i class="ri-github-fill"></i> <p>GitHub</p></a>
            <a href="https://www.facebook.com/chesterjonathan.tayag/" class="opposite" target="_blank"><i class="ri-facebook-box-fill"></i> <p>Facebook</p></a>
        </div>
    </div>
</main>