<main>
    <div class="opposite photo-card">
        <div class="text">
            <h1>Hello! I’m Chester Jonathan Tayag!</h1>
            <h3>Fullstack Web Developer</h3>
            <p>From front-end design to back-end functionality, I'm the developer you can trust reliably.</p>
        </div>

        <img class="photo" src="photos/polo3.png" alt="Chester wearing a polo" />
    </div>

    <div class="started-and-featured">
        <div class="get-started">
            <h2>Let's get started!</h2>

            <!-- Get started links -->
            <a routerLink="/about" class="opposite">Learn more about me</a>
            <a routerLink="/projects" class="opposite">Check out my projects</a>
            <a routerLink="/contact" class="opposite">Want to create a website? Let's talk!</a>
            <a href="cjtayag-creative-resume.pdf" download class="opposite">Download my resume</a>
        </div>

        <div class="featured-card opposite">
            <h2>My Featured Projects</h2>

            <div class="featured-projects">
                <div class="project">
                    <img src="projects/pixel-legends1.png" alt="Pixel Legends website screenshot" loading="lazy">
                    <h3>Pixel Legends</h3>
                    <p>This is a video game-themed website for our university’s web design competition, which won first runner-up and best interactive design.</p>
                    <a href="https://cjt22.github.io/pixel-fusion-entry/" target="_blank">Go to website</a>
                    <br>
                    <a href="https://github.com/CJT22/pixel-fusion-entry" target="_blank">Go to GitHub repository</a>
                </div>

                <div class="project">
                    <img src="projects/lyrexist1.png" alt="Lyrexist website screenshot" loading="lazy">
                    <h3>Lyrexist</h3>
                    <p>This is a song search web application wherein I handled the back-end logic of how songs and artists are filtered based on category using JavaScript.</p>
                    <a href="https://github.com/CJT22/lyrexist" target="_blank">Go to GitHub repository</a>
                </div>
            </div>
        </div>
    </div>
</main>